html{
    font-size: 100px;
    background: #FAFAFA;
}
body{
    margin: 0;
}

.box{
    background: #FAFAFA;
}
.p1{
    font-size: 0.15rem;
    line-height: 0.44rem;
    border-bottom: 1px solid #E6E6e6;
    text-align: center;
    height: 0.44rem;
    text-align: center;
    margin: 0;
    /* padding-top: 0.1rem; */
    /* padding-bottom: 0.1rem; */
    background:#fff url(../image/iconGoleft.png) no-repeat 0.1rem;
    background-size:0.2rem 0.2rem;
}
.p2{
    font-size: 0.16rem;
    font-weight: bold;
    color: #353535;
    margin-left: 0.15rem;
    padding-left: 0.1rem;
    border-left: 5px solid #3E569C;
}

.man{
    background: #fff;
    display: flex;
    padding: 0.15rem;
}
.man>img{
    width: 0.57rem;
    height: 0.56rem;
}
.man>div{
    margin-left: 0.15rem;
    font-size: 0.16rem;
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}
.man>div>p:nth-of-type(1){
    margin: 0;
    font-size: 0.16rem;
    color: #353535;
    margin-bottom: 0.1rem;
}
.man>div>p:nth-of-type(1)>span{
    font-size: 0.12rem;
}
/* .man>div>p:nth-of-type(2){
    border: 1px solid #3E569C;
    text-align: center;
    padding: 0 0.1rem;
    border-radius: 0.2rem;
    font-size: 0.13rem;
    padding-left: 0.05rem;
    line-height: 0.2rem;
    margin: 0;
    margin-top: 0.2rem;
    color:  #3E569C;
} */
.zy{
    /* margin: 0; */
    /* padding: 0; */
    border: 1px solid #3E569C;
    text-align: center;
    padding: 0 0.1rem;
    border-radius: 0.2rem;
    font-size: 0.13rem;
    padding-left: 0.05rem;
    line-height: 0.2rem;
    margin: 0;
    margin-top: 0.2rem;
    color:  #3E569C;
}

.p3{
    font-size: 0.16rem;
    font-weight: bold;
    color: #353535;
    margin-left: 0.15rem;
    padding-left: 0.1rem;
    border-left: 5px solid #3E569C;
}

.p4{
    background: #fff;
    padding: 0 0.2rem;
    font-size: 0.16rem;
    line-height: 0.3rem;
    font-family: PingFang SC;
    min-height: 2rem;
}
.p4 img{
    width: 100%;
}

.zl{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}